.mapa{
    border-radius: 100%;
    width: 340px; 
    height: 340px; 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 100%;
    display: inline-block;
}

.glass-container3{
    min-width: 380px;
    max-width: 380px;
    height: 380px; 
    border-radius: 100%;
    position: relative;
    margin-left:0px;
    background: linear-gradient(135 deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-top: 3px, solid rgbA(0, 0, 0, 0.01);
    box-shadow: 0 8px 32px 0 rgbA(0, 0, 0, 0.38);
    z-index: 2;
}

/*Dodati media za skaliranje*/